.footer {
  padding: 32px 0;
  position: relative;
  background-image: url('../images/footer-bcg.png');
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer::after,
.footer::before {
  position: absolute;
  background-repeat: no-repeat;
  bottom: 0;
  content: '';
}

.footer::after {
  width: 180px;
  height: 120px;
  background-image: url('../images/decor-bread-small.png');
}

.footer::before {
  width: 380px;
  height: 180px;
  right: 0;
  background-image: url('../images/decor-bread-large.png');
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.address-list,
.address-info {
  flex-grow: 1;
}

.adress-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.adress-link:hover {
  color: var(--color-brand-normal);
}

.adress-icon {
  fill: var(--color-primary-light);
}

.adress-icon:hover {
  fill: var(--color-brand-normal);
}

.adress-copyright {
  font-size: 14px;
}
